---
layout: default
---



<article role="article">
  <h2>{{ page.title }}</h2>
  <time class="date" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %-d, %Y" }}</time>


  {{ content }}
  
  <br>
  
  <p>
      Tagged 
      {% for tag in page.tags %}
      <a class="post" href="{{ site.url }}/tag/{{tag}}">#{{tag}}</a>{% unless forloop.last %}, {% endunless %}{% endfor %}.
    </p>
      
             
             <hr style="height:1px; border:none; margin: 2rem 0; background-color:#A1A3AA;">


</article>


{% if site.disqus.shortname %}
  {% include disqus_comments.html %}
{% endif %}

